body{
  background-color:azure
}
.App {
  margin:5rem;
  text-align:center
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.anchor{
  text-decoration: none;
  font-weight: 600;
  font-size:3rem;
  color:whitesmoke
}

.option{
  background-color: #559ade;
  border-bottom: '0.5px solid white';
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul.MuiList-root.MuiList-padding.css-h4y409-MuiList-root a {
  text-decoration: none;
}
